/** @define Introduction */

@use "../blocks" as b;

.Introduction {
  // The template optimized for mobiles.
  grid-template:
    "brief"
    "skills"
    "links"
    "contacts"
    "sponsor" / 100%;

  @include b.sm-block {
    // The template optimized for desktop.
    grid-template:
      "brief brief"
      "links skills"
      "contacts skills"
      "sponsor sponsor" / 1fr 1fr;
  }

  @each $area in (brief, skills, contacts, links, sponsor) {
    // selector-bem-pattern can't handle variables correctly.
    /* stylelint-disable-next-line plugin/selector-bem-pattern */
    &-#{ $area } {
      grid-area: $area;
    }
  }

  // brief & sponsor: center, big block
  &-brief,
  &-sponsor {
    text-align: center;
    margin: 0.5rem auto;

    @include b.sm-block {
      width: 75%;
    }
  }

  // Fix the ETH address overflowing.
  &-sponsor {
    word-break: break-all;
  }
}
