$base-padding: 20px;
$gap-between-cards: $base-padding;
$card-corner-radius: calc($base-padding / 3);

@mixin card-configuration {
  background-color: #374151;

  &-title {
    // Title offset relative to the card.
    left: 10px;
    top: 10px;
    opacity: 0.2;
    font-size: 3em;
  }
}

/* @define Cards */

/* The layout for placing c-card */
.Cards {
  display: flex;
  flex-direction: column;
  gap: $base-padding;
}

.Cards.is-row {
  flex-direction: row;
}

/* @define Card */

/* A card for this page. */
.Card {
  padding: $base-padding;
  border-radius: $card-corner-radius;

  // Make the following title “relative” to our card.
  position: relative;
  overflow: hidden; // Hide the overflowed title.

  &-title {
    // Reset the `title` style.
    line-height: 100%;
    margin-block: 0 auto;
    position: absolute;

    // Title should be placed under the content.
    z-index: 0;
  }

  &-desc {
    margin-block: 0;

    // See `&-title`.
    z-index: 1;
  }

  @include card-configuration;
}
