@use "partials/variables" as v;
@use "partials/blocks" as b;

/* @define Container */

.Container {
  display: flex;
  justify-content: center;

  &-content {
    width: 100%;

    @include b.sm-block {
      width: v.$sm-width;
    }
  }
}
