@use 'partials/variables' as v;
@use 'partials/blocks' as b;

$line-height: 1.5;
$font-preference:
    "HarmonyOS Sans TC", "PingFang TC", "微軟正黑體", system-ui, -apple-system,
    BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;

.l-container {
    display: flex;
    justify-content: center;

    p, li {
        line-height: $line-height;
    }

    font-family: $font-preference;

    &__content {
        width: 100%;

        @include b.sm-block {
            width: v.$sm-width;
        }
    }
}
