$line-height: 1.5;
$font-preference: "HarmonyOS Sans TC", "PingFang TC", "微軟正黑體", system-ui,
  -apple-system, blinkmacsystemfont, "Segoe UI", roboto, oxygen, ubuntu,
  cantarell, "Open Sans", "Helvetica Neue", sans-serif;

body {
  background-color: #1f2937;
  color: rgb(239 239 239);
  font-family: $font-preference;
}

a {
  color: rgb(169 182 242);
}

// We use '!important' here to override
// HarmonyOS Sans' rule, which forcibly
// sets the code blocks to HarmonyOS Sans.
code,
pre {
  font-family: "IBM Plex Mono", "Courier New", Courier, monospace !important;
}

p,
li {
  line-height: $line-height;
}
